

@media(max-width: 1380px) {

    .img-right {
        width: 560px;
        height: 720px;
    }

    .content {
        width: 650px;
    }


}

@media(max-width: 1330px) {

    .img-right {
        width: 550px;
        height: 720px;
    }

    .content {
        width: 620px;
    }

}

@media (max-width: 1230px) {
    .img-right {
        width: 530px;
        height: 700px;
    }

    .content {
        width: 600px;
    }

}

@media (max-width: 1200px) {
    .img-right {
        width: 450px;
        height: 650px;
    }

    .content {
        width: 550px;
    }

}

@media (max-width: 910px) {

    .img-right,
    .logo-txt,
    .icon {
        display: none !important;
    }

    .content {
        width: 100%;
        padding: 0 !important;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 100%;
    }

    .content-cards {
        flex-direction: column;
        align-items: center;
    }

    .icon-media {
        display: block !important;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        padding-bottom: 30px;

    }

    .header {
        padding: 20px 5px 0px 5px;
    }

    .logo-header {
        max-width: 70px;
        height: 30px;
    }

    .card {
        max-width: 140px;
        height: 140px;
    }
}
