@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #0F1923;
    --pink: #FF4655;
}

.bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--green);
    z-index: 1;
}

.img {
    position: absolute;
    height: 100vh;
    width: 85%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.img img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
}

.img-right {
    width: 506.39px;
    height:745.7px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ´Header Start */

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 8px 0px 8px;
}


.icon {
    font-size: 30px;
    color: #FFF;
}

/* ´Header End */

/* Cards Start */

.content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0px 35px;
}

.logo-txt {
    margin-bottom: 40px;
}

.content-cards {
    display: flex;
    gap: 50px;
    max-width: 610px;
}

.card {
    max-width: 170px;
    height: 170px;
}

.name-card {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #FFF;
    font-size: 22px;
}

.card .img-card {
    width: 100%;
    object-fit: cover;
}

.icon-media {
    display: none !important;
}


/* Cards End */



/* Mobile Start */

@media(max-width: 1380px) {

    .img-right {
        width: 560px;
        height: 720px;
    }

    .content {
        width: 650px;
    }


}

@media(max-width: 1330px) {

    .img-right {
        width: 550px;
        height: 720px;
    }

    .content {
        width: 620px;
    }

}

@media (max-width: 1230px) {
    .img-right {
        width: 530px;
        height: 700px;
    }

    .content {
        width: 600px;
    }

}

@media (max-width: 1200px) {
    .img-right {
        width: 450px;
        height: 650px;
    }

    .content {
        width: 550px;
    }

}

@media (max-width: 910px) {

    .img-right,
    .logo-txt,
    .icon {
        display: none !important;
    }

    .content {
        width: 100%;
        padding: 0 !important;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 100%;
    }

    .content-cards {
        flex-direction: column;
        align-items: center;
    }

    .icon-media {
        display: block !important;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translatex(-50%);
        padding-bottom: 30px;

    }

    .header {
        padding: 20px 5px 0px 5px;
    }

    .logo-header {
        max-width: 70px;
        height: 30px;
    }

    .card {
        max-width: 140px;
        height: 140px;
    }
}





/* Mobile End */